body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(255,255,255,.9);
  text-align: center;
  font-size: 50px;
  padding: 0;
  display: absolute;
}

.fa {
  color: rgba(255,255,255,.2);
}

.glass {
  background-color: #397C30;
}

.other {
  background-color: #1795CE;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.credits {
  margin-top: 25px;
  font-size: 12px;
  color: rgba(255,255,255,.2);
}

.credits a:link, .credits a:visited {
  color: rgba(255,255,255,.3);
  text-decoration: none;
  font-weight: 500;
}

.credits a:hover {
  color: rgba(255,255,255,.4);
}

.credits a:active {
  color: rgba(255,255,255,.5);
}
